.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.crypto-card {
	min-width: 400px;
	box-shadow: 2px 2px 20px 6px rgb(147, 147, 130);
}

.select-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}

.converted-result {
	text-align: center;
	font-size: 1rem;
}
